/* Whole document: */
body{
  font-family: Arial;
  font-size: 10pt;
  text-align: justify;
  color: black;
}

<style type="text/css">
div.main-container {
  max-width: 1800px !important;
  margin-left: 0px;
  margin-right: auto;
}
</style>